<article class="movies movies__modal">
        <img class="movies__img" src="{{poster_path}}" alt="{{title}} poster" id="{{id}}" />
        <div>
          <h2 class="movies__title lang-titleOriginal">{{title}}</h2>

          <table class="movies-info">
            <tr>
                <td class="movies-info__item"> Vote / Votes </td>
            <td><span class="movies-info__value"><span class="movies-info__average">{{vote_average}}</span>/{{vote_count}}</span></td>
            </tr>
            <tr>
                <td class="movies-info__item"> Popularity</td> <td><span class="movies-info__value">{{popularity}}</span></td>
            </tr>
            <tr>
                <td class="movies-info__item lang-titleOriginal"> Original Title</td> <td><span class="movies-info__value movies-info__value--accent">{{original_title}}</span></td>
            </tr>
            <tr>
                <td class="movies-info__item lang-genres">Genre</td> <td><span class="movies-info__value">{{genre_ids}} </span></td>
            </tr>
          </table >
      
          <p class="movies__info lang-about">About</p>
          <p class="movies__description">{{overview}}</p>

          <ul class="movies-btn">

            <li class="movies-btn__item"><button type="button" data-id="{{id}}" data-action="addToWatched" class="movies-btn__button add-to-watch">add to
                Watched</button></li>
            <li class="movies-btn__item"><button type="button" data-id="{{id}}" data-action="addToQueue" class=" movies-btn__button add-to-queue">add to queue</button></li>

          </ul>
        
        </div>

    </article>