        
            {{#each this}}
            <li class="people__item" id="{{id}}">
                <img class="people__img" srcset="" src="{{photo}}"
                    alt="{{title}}" />
                <div class="name">
                    <h3 class="name__team-item">{{name}}</h3>
                    <p class="name__profession">{{role}}</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link" ><svg class="socialnets__icon-instagram">
                                    <use href="/images/sprite.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="/images/sprite.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-facebook">
                                    <use href="/images/sprite.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-linkedin">
                                    <use href="/images/sprite.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            {{/each}}
        