        
            {{#each this}}
            <li class="people__item" id="{{id}}">
                <img class="people__img" srcset="" src="{{photo}}"
                    alt="{{title}}" />
                <div class="name">
                    <h3 class="name__team-item">{{name}}</h3>
                    <p class="name__profession">{{role}}</p>
                    <ul class="socialnets">
                        <li class="socialnets__item">
                            <a class="socialnets__link"
                            href="#" 
                            target="_blank"
                            title="GitHub"
                            rel="noreferrer noopener">
                                <svg class="socialnets__icon-gitHub" width="20" height="20">                                    
                                    <use href="./images/sprite.svg#icon-gitHub"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socialnets__item">
                            <a class="socialnets__link"
                            href="#" 
                            target="_blank"
                            title="linkedin"
                            rel="noreferrer noopener">
                                <svg class="socialnets__icon-linkedin" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {{/each}}
        